{% extends 'layout.html' %}

{% block content %}
<h2>상품 등록</h2>
<form method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}
        {% for error in form.title.errors %}
          <span class="flash">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
          <span class="flash">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}
        {% for error in form.price.errors %}
          <span class="flash">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        {{ form.submit(class="btn") }}
    </div>
</form>
{% endblock %}
