{% extends "base.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<h2>회원가입</h2>
<form method="post" autocomplete="off">
  {{ csrf_token() }}

  <label for="username">사용자명:</label><br>
  <input type="text" id="username" name="username"
         required maxlength="150" pattern="^[a-zA-Z0-9_]+$"
         autocomplete="username"><br>

  <label for="password">비밀번호:</label><br>
  <input type="password" id="password" name="password"
         required minlength="8" maxlength="128"
         pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+]{8,}$"
         autocomplete="new-password"><br>

  <button type="submit">회원가입</button>
</form>
{% endblock %}
